<!DOCTYPE html>
<html>
<head>
  <title>YourAppName</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="application.scss">
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>